*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;

    background: url(./images/bg-top.svg),url(./images/bg-bottom.svg),hsl(240, 78%, 98%);
    background-repeat: no-repeat;
    background-position: top 0 right 0 , bottom -50px left 0;
    background-size: 25%,30%;

}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 48px;
}

.top{
    text-align: center;
}

.heading{
    font-size: 28px;
    padding: 12px;
    color: hsl(233, 13%, 49%);
}

.annual-title{
    font-size: 12px;
    color: hsl(236, 72%, 79%);
    transition: all 0.3s;
}

.monthly-title{
    font-size: 12px;
    color: hsl(233, 13%, 49%);
    transition: all 0.3s;
}

/* button-section */

.button-section{
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 20px;
}

/* toggle button */

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	width: 48px;
	height: 24px;
    background-image: linear-gradient(to right ,hsl(236, 72%, 79%) , hsl(237, 63%, 64%));
	display: block;
	border-radius: 100px;
    transform: translate(-10px);

	position: relative;
}

label:after {
	content: '';
	width: 18px;
	height: 18px;
	background: white;
	border-radius: 100%;

    position: absolute;
	top: 3px;
	left: 3px;

	transition: all 0.3s;
}

input:checked + label:after {
	left: calc(100% - 3px);
	transform: translateX(-100%);
}


/* cards section */

.cards-section{
    display: flex;
    text-align: center;
    align-items: center;
}

.card{
    padding: 24px;
    background-color: white;
    border-radius: 12px;
    width: 250px;
    box-shadow: 0px 5px 16px 4px rgba(163, 168, 240, 0.2);

}

.card-heading{
    color: hsl(233, 13%, 49%);
}

.price{
    padding: 18px 0;
    font-size: 48px;
    color: hsl(232, 13%, 33%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.symbol{
    font-size: 28px;
}

.description div{
    color: hsl(233, 13%, 49%);
    font-size: 10px;
    padding: 12px 0;
    border-top: 1px solid hsl(234, 14%, 74%);
}

#button-div{
    padding: 24px 0 0 0;
}

/* description button */

.des-button{
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 6px;
    color: white;
    background-image: linear-gradient(to right ,hsl(236, 72%, 79%) , hsl(237, 63%, 64%));
    text-transform: uppercase;
    font-size: inherit;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    width: 100%;
    padding: 8px 0;
    transition: all 0.3s;
}

.des-button:hover{
    color: hsl(237, 63%, 64%);
    background-image: linear-gradient(to right ,white,white);
    box-shadow: 0 0 0 1px hsl(237, 63%, 64%);
}

/* Highlighted card */

.main-card{
    background-image: linear-gradient(to right ,hsl(236, 72%, 79%) , hsl(237, 63%, 64%));
    padding: 45px 24px;
    box-shadow: 0px 0px 16px 6px rgba(163, 168, 240, 0.4);
    z-index: 10;
}

.main-card div{
    color: white;
}

.main-card .des-button{
    background-image: linear-gradient(to right ,hsl(240, 78%, 98%) , hsl(240, 78%, 98%));
    color: hsl(237, 63%, 64%);
}

.main-card .des-button:hover{
    background-image: linear-gradient(to right ,hsl(236, 72%, 79%) , hsl(237, 63%, 64%));
    color: hsl(240, 78%, 98%);
    box-shadow: 0 0 0 1px hsl(240, 78%, 98%);
}


.main-card .description div{
    border-top: 1px solid hsl(240, 78%, 98%);
    color: white;
}

/* meadia queries */

@media (max-width:800px){

    body{
        background-position: top 0 right 0 , bottom 0px left 0;
        background-size: 45%,50%;
    }

    .container{
        gap: 24px;
        padding: 36px;
    }

    .cards-section{
        flex-direction: column;
        gap:16px;
    }

    .button-section{
        gap: 14px;
    }

    label{
        transform: translate(-7px);
    }
}